
<select name="designation" class="form-control select2" id="dep_hr">
  <option value="" selected disabled>Please Select</option>
</select>

<div class="row d-none" id="dep_hr">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Junior Recruiter" name="designation" id="hr_jr">
      <label for="hr_jr">Junior Recruiter</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Recruiter" name="designation" id="hr_rec">
      <label for="hr_rec">Recruiter</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Senior Recruiter" name="designation" id="hr_sr">
      <label for="hr_sr">Senior Recruiter</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="HR Executive" name="designation" id="hr_hr">
      <label for="hr_hr">HR Executive</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Talent Acquisition Specialist/Recruitment Lead" name="designation" id="hr_ta">
      <label for="hr_ta">Talent Acquisition Specialist/Recruitment Lead</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_tar" value="Talent Acquisition/Recruitment Manager">
      <label for="hr_tar">Talent Acquisition/Recruitment Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_amr" value="Assistant Manager - Recruitment">
      <label for="hr_amr">Assistant Manager - Recruitment</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_hrbp" value="HRBP">
      <label for="hr_hrbp">HRBP</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_hrbp_l" value="HRBP Lead">
      <label for="hr_hrbp_l">HRBP Lead</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_ahrbp" value="Assistant Manager - HRBP">
      <label for="hr_ahrbp">Assistant Manager - HRBP</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_mhrbp" value="Manager - HRBP">
      <label for="hr_mhrbp">Manager - HRBP</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_ers" value="Employee Relations Specialist">
      <label for="hr_ers">Employee Relations Specialist</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_amer" value="Assistant Manager - Employee Relations">
      <label for="hr_amer">Assistant Manager - Employee Relations</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_mer" value="Manager - Employee Relations">
      <label for="hr_mer">Manager - Employee Relations</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_gen" value="Generalist">
      <label for="hr_gen">Generalist</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_oms" value="Onboarding Specialist">
      <label for="hr_oms">Onboarding Specialist</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_cw" value="Content Writer">
      <label for="hr_cw">Content Writer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_hrm" value="Human Resource Manager">
      <label for="hr_hrm">Human Resource Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="hr_hhrm" value="Head - Human Resources">
      <label for="hr_hhrm">Head - Human Resources</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row d-none" id="dep_operations">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="CRO-Client Relationship Officer" name="designation" id="op_cro">
      <label for="op_cro">CRO-Client Relationship Officer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Patrolling Officer" name="designation" id="op_pat">
      <label for="op_pat">Patrolling Officer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="SME-Subject Matter Expert" name="designation" id="op_sme">
      <label for="op_sme">SME-Subject Matter Expert</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Assistant Team Leader" name="designation" id="op_atl">
      <label for="op_atl">Assistant Team Leader</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Team Leader" name="designation" id="op_tl">
      <label for="op_tl">Team Leader</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="op_am" value="Assistant Manager">
      <label for="op_am">Assistant Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="op_man" value="Manager">
      <label for="op_man">Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="op_sm" value="Senior Manager">
      <label for="op_sm">Senior Manager</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row d-none" id="dep_quality">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="qu_qa" value="Quality Analyst">
      <label for="qu_qa">Quality Analyst</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="qu_tl" value="Team Leader">
      <label for="qu_tl">Team Leader</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="qu_am" value="Assistant Manager">
      <label for="qu_am">Assistant Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="qu_man" value="Manager">
      <label for="qu_man">Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="qu_sm" value="Senior Manger">
      <label for="qu_sm">Senior Manger</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="qu_head" value="Head">
      <label for="qu_head">Head</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row d-none" id="dep_command_center">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="cc_mis" value="MIS Executive">
      <label for="cc_mis">MIS Executive</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="cc_dat" value="Data Analyst">
      <label for="cc_dat">Data Analyst</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="cc_pow" value="PowerBI Developer">
      <label for="cc_pow">PowerBI Developer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="cc_web" value="Web Developer">
      <label for="cc_web">Web Developer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="cc_pay" value="Python Developer">
      <label for="cc_pay">Python Developer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required name="designation" id="cc_tl" value="Team Leader">
      <label for="cc_tl">Team Leader</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Assistant Manager" name="designation" id="cc_am">
      <label for="cc_am">Assistant Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Manager" name="designation" id="cc_man">
      <label for="cc_man">Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="MIS Manager" name="designation" id="cc_mis_man">
      <label for="cc_mis_man">MIS Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Head" name="designation" id="cc_head">
      <label for="cc_head">Head</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row d-none" id="dep_sevice_excellence">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Client Service Coordinator" name="designation" id="se_csc">
      <label for="se_csc">Client Service Coordinator</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="MIS Executive" name="designation" id="se_mis">
      <label for="se_mis">MIS Executive</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Business Analyst" name="designation" id="se_bus">
      <label for="se_bus">Business Analyst</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Data Analyst" name="designation" id="se_dat">
      <label for="se_dat">Data Analyst</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Team Leader" name="designation" id="se_tl">
      <label for="se_tl">Team Leader</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Assistant Manager" name="designation" id="se_am">
      <label for="se_am">Assistant Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Manager" name="designation" id="se_man">
      <label for="se_man">Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Head" name="designation" id="se_head">
      <label for="se_head">Head</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row d-none" id="dep_it">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="System Admin - L1" name="designation" id="it_sa_l1">
      <label for="it_sa_l1">System Admin - L1</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="System Admin - L2" name="designation" id="it_sa_l2">
      <label for="it_sa_l2">System Admin - L2</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Team Leader" name="designation" id="it_tl">
      <label for="it_tl">Team Leader</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Assistant Manager" name="designation" id="it_am">
      <label for="it_am">Assistant Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Manager" name="designation" id="it_man">
      <label for="it_man">Manager</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row d-none" id="dep_admin">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Office Boy" name="designation" id="ad_ob">
      <label for="ad_ob">Office Boy</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Office Admin" name="designation" id="ad_oa">
      <label for="ad_oa">Office Admin</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Admin Executive" name="designation" id="ad_ae">
      <label for="ad_ae">Admin Executive</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Facility Lead" name="designation" id="ad_fl">
      <label for="ad_fl">Facility Lead</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Assistant Manager" name="designation" id="ad_am">
      <label for="ad_am">Assistant Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Manager" name="designation" id="ad_man">
      <label for="ad_man">Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Head" name="designation" id="ad_head">
      <label for="ad_head">Head</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row d-none" id="dep_ld">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Softskills Trainer" name="designation" id="ld_st">
      <label for="ld_st">Softskills Trainer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Process Trainer - Sales" name="designation" id="ld_pt_sales">
      <label for="ld_pt_sales">Process Trainer - Sales</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Process Trainer - Customer Service" name="designation" id="ld_pt_cs">
      <label for="ld_pt_cs">Process Trainer - Customer Service</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="FLE Trainer" name="designation" id="ld_fle">
      <label for="ld_fle">FLE Trainer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Technical Trainer" name="designation" id="ld_tt">
      <label for="ld_tt">Technical Trainer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Language Trainer" name="designation" id="ld_lt">
      <label for="ld_lt">Language Trainer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Team Leader" name="designation" id="ld_tl">
      <label for="ld_tl">Team Leader</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Assistant Manager" name="designation" id="ld_am">
      <label for="ld_am">Assistant Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Manager" name="designation" id="ld_man">
      <label for="ld_man">Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Head" name="designation" id="ld_head">
      <label for="ld_head">Head</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row d-none" id="dep_sales">
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Content Developer" name="designation" id="sm_cd">
      <label for="sm_cd">Content Developer</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Business Development Executive" name="designation" id="sm_bde">
      <label for="sm_bde">Business Development Executive</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Business Development Manager" name="designation" id="sm_bdm">
      <label for="sm_bdm">Business Development Manager</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="radio" required value="Head" name="designation" id="sm_head">
      <label for="sm_head">Head</label>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>

